:root {
  --color-neutral-100: #f0f0f1;
  --color-neutral-200: #e0e0e2;
  --color-neutral-300: #c0c2c5;
  --color-neutral-400: #a1a3a8;
  --color-neutral-500: #81858b;
  --color-neutral-600: #62666d;
  --color-neutral-700: #434546;
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  /* font-family: ; */
  direction: rtl;
  font-family: "Yekan", sans-serif;
  font-size: 1.2rem;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* part img */
.img-ads img {
  width: 100%;
  height: 6rem;
}
/* part container */
.header-container {
  width: 98%;
  height: 10.8rem;
  position: relative;
}
/* part container-up */
.header-container-up {
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.right .logo {
  width: 11.5rem;
  height: 3rem;
}
.right .search-box {
  width: 60rem;
  height: 4.4rem;
  background-color: var(--color-neutral-100);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  gap: 1rem;
}
.search-box .txt-search {
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}
.icon {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--color-neutral-600);
}

.left {
  width: 19.9rem;
  height: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 1rem;
}
.left .login {
  width: 13.4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 0.1rem solid var(--color-neutral-200);
  border-radius: 1rem;
}
.login .icon-login {
  width: 1.6rem;
  fill: var(--color-neutral-700);
}
.login .title-login {
  color: var(--color-neutral-700);
}
.divider {
  background-color: var(--color-neutral-300);
  width: 0.1rem;
  height: 2rem;
}

.left .cart:link {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: 0.3s ease all;
  align-items: center;
}

.left .icon-cart {
  fill: var(--color-neutral-700);
}
.cart:hover {
  transform: scale(1.2);
}
/* part container-down */
.header-container-down {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 110rem;
  height: 4rem;
  display: flex;
}
.nav-main {
  width: 16.2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  /* background-color: #495b64; */
}
.nav-main .content-nav span {
  color: var(--color-neutral-700);
}
.nav-main .content-nav .icon {
  fill: var(--color-neutral-700);
}
.nav-main .content-nav {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}

.nav-main .divider {
  height: 1.6rem;
}
.nav-item {
  width: 65.9rem;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  padding-left: 0.5rem;
  gap: 3rem;
}
.nav-item .content-nav span {
  font-size: 1.1rem;
  color: var(--color-neutral-400);
}
.nav-item .content-nav .icon {
  width: 1.5rem;
  fill: var(--color-neutral-400);
}

.content-nav {
  position: relative;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}
.nav-end {
  width: 25.2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-end .content-nav span {
  font-size: 1.1rem;
  color: var(--color-neutral-400);
}
.nav-end .divider {
  height: 1.6rem;
}
.content-nav:hover {
  cursor: pointer;
}
.content-nav::after {
  position: absolute;
  bottom: 0;
  content: "";
  z-index: -1;
  width: 0%;
  height: 0.2rem;
  background-color: red;
  transition: width 0.3s ease;
}
.content-nav:hover::after {
  cursor: pointer;
  width: 100%;
}

.location {
  width: 17.3rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.location .icon {
  width: 1.5rem;
  fill: var(--color-neutral-700);
}
.location span {
  font-size: 1.3rem;
  color: var(--color-neutral-700);
}

/* part slidshow-container */

.slidshow-container {
  width: 98%;
  height: 40rem;
  background-color: #434546;
  position: relative;
  margin-bottom: 20rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.slidshow {
  position: absolute;
  width: 100%;
  display: none;
  transform: scale(1.5);
}
.slidshow img {
  vertical-align: middle;
  max-width: 100%;
  height: 100%;
}
.dots {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}
.buttonarrow {
  width: 12rem;
  height: 6rem;
  position: absolute;
  right: 5rem;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease;
  opacity: 1;
}

.buttonarrow .btn-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  background-color: var(--color-neutral-100);
}
.btn-r {
  transform: rotate(0.25turn);
}
.btn-l {
  transform: rotate(0.75turn);
}
.btn-arrow:hover {
  background-color: #ee384e;
  cursor: pointer;
}
.btn-arrow .icon {
  width: 3rem;
  height: 3rem;
  transition: all 0.3s ease;
}
.btn-arrow:hover .icon {
  fill: #fff;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transition: all 0.3s ease;
}
.active {
  background-color: #fff;
  border-radius: 20px;
  width: 20px;
}

.fade {
  position: absolute;
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* part story-container */
.story-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 98%;
  height: 10.8rem;
  padding: 0 5rem;
  margin-bottom: 2rem;
}
.story-item {
  gap: 0.5rem;
  width: 7.5rem;
  height: 9.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.story-prof {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: #fff 0.2rem solid;
}

/* .story-prof::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border: red 0.25rem solid;
  border-radius: 50%;
} */

.story-prof img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.story-title {
  color: var(--color-neutral-700);
  font-weight: 500;
}
.story-status {
  display: flex;
  align-items: center;
  justify-content: center;
  border: red 0.25rem solid;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* .story-prof:active, */
.story-status:active {
  transform: scale(0.9);
}
/* part story-content  */
.story-content-main {
  visibility: hidden;
  position: absolute;
  top: 30%;
  width: 70rem;
  height: 35.5rem;
  /* visibility: hidden; */
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.story-content {
  width: 60rem;
  height: 35.5rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  position: absolute;
  background-color: #434546;
  box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-image: url(https://dkstatics-public.digikala.com/digikala-admin-landing/0a32155b381d228ea86b0e08e7e3fcc7eead4fb6_1696778462.jpg?x-oss-process=image/format,webp);
}

/* .story-content img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

/* .icon-nav-cross {
  position: absolute;
  left: 0;
} */
.time {
  direction: ltr;
  position: absolute;
  top: 0;
  left: 0rem;
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-neutral-400);
}
.time .time-active {
  border-radius: 5rem;
  background-color: #ee384e;
  width: 0%;
  height: 100%;
}
.status-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.story-content .status-prof img {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem black;
}

.icon-nav-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotate(0.75turn);
  width: 2rem;
  cursor: pointer;
  fill: var(--color-neutral-200);
  width: 5rem;
  height: 4rem;
}
.icon-nav-right {
  transform: rotate(0.25turn);
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  fill: var(--color-neutral-200);
  width: 5rem;
  height: 4rem;
}
